<div class="container">
    <div *ngIf="empty" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
            aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            No hay elementos en carrito de compras
        </div>
    </div>
    <div *ngIf="!empty" class="form">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input ngModel name="nombre" required type="text" class="form-control" placeholder="Nombre Completo">
                    </div>
                </div>
                <div class="col-md-6">
              <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Direccion</label>
                        <input ngModel required name="direccion" type="text" class="form-control" placeholder="Direccion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
              <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Telefono</label>
                        <input type="number" ngModel required name="celular" class="form-control" placeholder="Ingrese celular">
                    </div>
                </div>
                <div class="col-md-6">
              <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Correo electronico">
                    </div>
                </div>
            </div>

            <div>
                <ol class="list-group list-group-numbered">

                    <li *ngFor="let obj of dataAny" class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{obj.nombre}}
                                <span class="badge bg-danger rounded-pill">{{obj.cantidad}}</span>

                            </div>
                        </div>
                        ${{obj.cantidad * obj.precio}}
                    </li>                    
                </ol>
                <li class="d-flex justify-content-end m-2 align-items-start ">
                    <div class="ms-2 ">
                        <div class="fw-bold justify-content-end subtotal-text">Subtotal
                        </div>
                    </div>
                    <div class="value-subtotal">
                        ${{subtotal}}
                    </div>
                </li>
                <li class="d-flex justify-content-end m-2 align-items-start ">
                    <div class="ms-2 ">
                        <div class="fw-bold justify-content-end subtotal-text">Impuestos
                        </div>
                    </div>
                    <div class="value-subtotal">
                        ${{impuestos}}
                    </div>
                </li>
                <li class="d-flex justify-content-end m-2 align-items-start ">
                    <div class="ms-2 ">
                        <div class="fw-bold justify-content-end total-text">Total
                        </div>
                    </div>
                    <div class="value-total">
                        ${{total}}
                    </div>
                </li>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="submit" (click)="cancelarTodo()" class="btn btn-danger mx-3">Cancelar</button>
                    <button type="submit" class="btn btn-danger ">Pagar</button>

                </div>
            </div>
        </form>
    </div>
</div>