<div class="container">
    <div *ngIf="empty" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
            aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            No existen pedidos creados actualmente
        </div>
    </div>

    <div *ngIf="!empty">
        <div class="card my-4 mb-5" *ngFor="let pedido of pedidos; index as i">
            <div class="card-header  text-center">
                <h5>
                    <div class="row">
                        <div class="col-md-6">
                            {{pedido.nombre}}
                        </div>
                        <div class="col-md-6">
                            Pedido # {{i+1}}
                        </div>
                    </div>
                </h5>

            </div>
            <div class="row m-2">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <p class="">Direccion entrega: {{pedido.direccion}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="">Celular: {{pedido.telefono}}</p>
                        </div>
                    </div>

                    <div class="card">
                        <div *ngFor="let producto of pedido.productos; index as i" class="row">
                            <div class="col-md-3">
                                <h5 class="">{{producto.nombre}}</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{producto.img}}" id="img" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-2">
                                    <p class="">Id: {{producto.idProducto}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="">Cantidad: {{producto.cantidad}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="">Valor c/u ${{producto.precio}}</p>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4 mx-5 text-muted">
                        <p class=""><b>Impuestos: </b> {{pedido.impuestos}}</p>
                    </div>
                    <div class="col-md-4 text-muted">
                        <p class=""><b>Subtotal: </b> {{pedido.subtotal}}</p>
                    </div>
                    <div class="col-md-3">
                        <h4 class=""><b>Total: </b> {{pedido.total}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>